google-generativeai
tkinter
pystray
keyboard
watchdog
python-docx
pdfminer.six
openpyxl
pandas
pytesseract
pywin32
extract-msg
beautifulsoup4
Pillow
cryptography
python-dateutil
azure-cognitiveservices-speech
requests